@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* Main Root Style */
:root{
      --color-dark : rgb(34, 36, 41);
      --color-boder : rgb(92, 96, 105);
      --color-bright : rgb(224, 228, 228);
      
      --el-25 : 0.25rem;
      --el-50 : .5rem;
      --el-75 : 0.75rem;
      --el-100 : 1rem;
      --el-125 : 1.25rem;
      --el-150 : 1.5rem;
}

/* Reset CSS */
html{scroll-behavior: smooth;}
body{font-size:0.875rem; font-family: 'IBM plex Mono', 'Noto Sans KR'; color: var(--color-bright);}
*{margin:0; padding:0; box-sizing:border-box;}
ol, ul{list-style:none;}
a{text-decoration: none; color: var(--color-bright);}
em, strong, i, b{font-weight:normal; font-style:normal;}
button, input, textarea{border-radius:0; background:var(--color-bright); border:0; outline:0;}
img{display:block;}

/* Common Style */
.container{margin: 0 var(--el-100); padding: var(--el-150); text-align: center; border-left: 1px solid var(--color-boder); border-right: 1px solid var(--color-boder);}
.wrapper{width: 100%; height: 100vh; max-width: 500px; background: var(--color-dark); margin: auto;}
.wrapper header{border-bottom: 1px solid var(--color-boder);}

/* Select Button Style */
section .container{padding-top: 0; padding-bottom: 0;}
section .select-lang{width: 100%; height: auto; padding: var(--el-25);}
section .select-lang h3{padding: var(--el-100) 0; background: var(--color-bright); color: var(--color-dark); font-weight: 400; font-size: 1rem;}
section .select-btns{width: 100%; height: auto; padding: var(--el-100) 0; border: 1px solid var(--color-boder); margin-top: var(--el-50); display: flex; justify-content: space-evenly;}
section .select-btns button{width: 23%; padding: var(--el-100) 0; border: 1px solid var(--color-boder);}
section .select-btns button.active{background-color: var(--color-dark); color: var(--color-bright);}

/* Voice Input nad Translated Input Box Style */
section .lang-box{width: 100%; height: 100%; background: var(--color-dark); padding: var(--el-25);}
section .lang-box textarea{width: 100%; height: 150px; border: 1px solid var(--color-boder); background: var(--color-dark); padding: var(--el-100); resize: none; color: var(--color-bright);}

/* Language Switch Button Style */
section .switch-btns-wrapper{width: 100%; height: auto; padding: 0 var(--el-25);}
section .switch-btns{width: 100%; height: auto; display: flex; align-items: center; justify-content: center; background: var(--color-bright); color: var(--color-dark); padding: var(--el-100) 0; column-gap: var(--el-50);}

/* Result Button Style */
section .result-btns-box{width: 100%; height: auto; padding: 0 var(--el-25);}
section .result-btns{width: 100%; height: auto; display: flex; justify-content: space-evenly;}
section .result-btns button{width: 48%; padding: var(--el-100) 0; background: var(--color-bright); color: var(--color-dark);}

/* Footer Style */
footer{width: 100%; height: auto; padding:0 var(--el-100); border-top: 1px solid var(--color-boder); border-bottom: 1px solid var(--color-boder); margin-top: var(--el-50) 0;}
footer .footer-contents{width: 100%; height: auto; padding:var(--el-100); display: flex; justify-content: space-evenly; _border-right: 1px solid var(--color-boder); border-left: 1px solid var(--color-boder); align-items: center;}
footer button{padding: 1rem 2rem;}